
@model IEnumerable<MvcPracticaAlmacen.Models.Producto>
    
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fabricante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nombre)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idProducto }) |
                @Html.ActionLink("Details", "Details", new { id=item.idProducto }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idProducto })
            </td>*@
        </tr>
    }
</table>