@model MvcPracticaVehiculos.Models.TipoVehiculo

@{
    ViewBag.Title = "Modificar Tipo";
}

<h2>Modificar Tipo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TipoVehiculo</h4>
        <hr/>
        @*Te pone en un listado todos los errores en un apartado en vez de
        ponerlos por cada campo del formulario. Por defecto esta activado.*@
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.idTipo)

        <div class="form-group">
            @Html.LabelFor(model => model.nombreTipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreTipo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcionTipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.descripcionTipo, new { @class = "form-control" , @rows = 6 })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar cambios" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "IndexTipo")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
