@using AutenticacionVehiculos.Seguridad
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .tipo {
            height: 175px;
            margin-top: 3%;
            margin-bottom: 3%;
            padding: 20px 40px;
            border: 2px #222222 solid;
            border-radius: 10px 10px;
        }
        #datosTipo {
            height: 85%;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    var u = User as PrincipalPersonalizado;
                    <h4 style="color: #ffffff;">@u.MiIdentidadPersonalizado.nombre @u.MiIdentidadPersonalizado.apellidos</h4>
                }
                else
                {
                    @Html.ActionLink("Vehiculos", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Logoff", "LogoOff", "Login")  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (Session["horaLogin"] != null)
        {
            var d = (DateTime) Session["horaLogin"];
            @String.Format("{0:t}", d)
        }
        @if (AppState["horaPrueba"] != null)
        {
            var d = (DateTime)Application["horaLogin"];
            @String.Format("{0:t}", d)
        }
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("JS", false);
</body>
</html>