
@using MvcPracticaAlmacen.Models
@model IEnumerable<MvcPracticaAlmacen.Models.Producto>

@{
    ViewBag.Title = "Index";
    var etiq = ViewBag.etiquetas as List<Etiquetas>;
}

<h2>@ViewData["Titulo"]</h2>

@foreach (var item in Model)
{
    <div class="col-md-4 item">
        @Html.DisplayNameFor(o => o.nombre)
        @Html.DisplayFor(o => item.nombre)
        @Html.ActionLink("Ver", "Detalle", new { id = item.idProducto })
        
        <h5>Almacenes disponibles</h5>

        @foreach (var alm in item.ProductoAlmacen)
        {
            @Html.Partial("_fichaAlmacen", alm.Almacen)
        }
    </div>
}

