@model AutenticacionVehiculos.Models.Usuario

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(o => o.login)
    @Html.EditorFor(o => o.login)
    @Html.ValidationMessageFor(o => o.login)
    <br />
    @Html.LabelFor(o => o.password)
    @Html.EditorFor(o => o.password)
    @Html.ValidationMessageFor(o => o.password)
    <br />
    <input type="submit" value="Enviar" />
}